# ########################################################### #
# this file is maintained by ansible-fish                     #
# see: https://github.com/pridkett/ansible-fish               #
# changes may be overwritten by future invocations of ansible #
# ########################################################### #

{% if 'config' in fish %}
{{ fish['config'] }}
{% endif %}

# load additional configuration files
for file in (find "$HOME/.config/fish/fish.d" \( -type f -o -type l \) -iname "*.fish" ! -name ".#*")
  source $file
end
